*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
}
hr{
    height: 2px;
    background-color: gray;
    margin-top: 5px;
}
.accordeon-wrapper{
    width: 100%;
}
.mem{
    width: 100%;
    margin-top: 10px;
}
.mem__img-wrapper{
    display: flex;
    justify-content: center;
    height: 0px;
    transition: height 500ms ease-in-out;
}
.mem:hover .mem__img-wrapper{
    height: 300px;
}
.close-icon{
    transform: rotate(0deg);
    transition: all 500ms ease-in-out;
}
.mem:hover .close-icon{
    transform: rotate(45deg);
}
.mem__img{
    height: 0px;
}
.mem:hover .mem__img{
    height: 100%;
}
.mem__title-wrapper{
    display: flex;
    justify-content: space-between;
}