*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
}
hr{
    height: 2px;
    background-color: gray;
    margin-top: 5px;
}
.accordeon-wrapper{
    width: 100%;
}
.mem-input {
    display: none;
}
.mem{
    width: 100%;
    margin-top: 10px;
}
.mem__img-wrapper{
    display: flex;
    justify-content: center;
    height: 0px;
    transition: height 500ms ease-in-out;
}

.mem__title-wrapper{
    display: flex;
    justify-content: space-between;
}
.close-icon{
    transform: rotate(0deg);
    transition: all 500ms ease-in-out;
}
.mem:hover .close-icon{
    transform: rotate(45deg);
}
.mem__img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
/* .mem:hover .mem__img{
    height: 100%;
} */
.mem:hover .mem__img-wrapper{
    height: 50vh;
}
.mem-input:checked + label > .mem__img-wrapper {
    height: 50vh;
}

@media (min-width: 320px) and (max-width: 819.9px){

}
@media (min-width: 820px) and (max-width: 1919.9px){
    .header{
        max-width: 1000px;
    }
    .accordeon-wrapper{
        max-width: 1000px;
    }
}
@media (min-width: 1920px){
    .header{
        max-width: 1600px;
    }
    .accordeon-wrapper{
        max-width: 1600px;
    }
}